<!DOCTYPE html>
<html>
  {{> dashboard/head}}

  <body>
    {{> dashboard/navigation}}


    <div class="container">
      {{#if error}}
        {{> dashboard/error}}
      {{else}}
        {{{body}}}
      {{/if}}
    </div>

  </body>
</html>
