<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

  <p>Links</p>
  <ul>
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/dashboard/developers">Developers</a></li>
  </ul>
  {{{body}}}

</body>
</html>
<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!--     <meta charset="utf-8" /> -->
<!--     <title>Dashboard</title> -->
<!--     <meta name="HandheldFriendly" content="True" /> -->
<!-- </head> -->
<!-- <body> -->

<!--     <div class="container"> -->

<!--         {{! Every view gets inserted here }} -->
<!--         {{{content}}} -->

<!--     </div> -->

<!-- </body> -->
<!-- </html> -->
