<head>
  <meta charset="utf-8">
  {{#if title}}
    <title>{{title}}</title>
  {{else}}
    <title>Dashboard</title>
  {{/if}}
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/dashboard/dashboard.css" rel="stylesheet">
</head>
