<p>Links</p>
<ul>
  <li><a href="/dashboard">Home to dashboard</a></li>
  <li><a href="/dashboard/developers">Developers</a></li>
  {{#if user}}
    <form action="/dashboard/logout" method="POST">
      <input type="submit" value="logout">
    </form>
  {{else}}
    <form action="/dashboard/login" method="GET">
      <input type="submit" value="login">
    </form>
  {{/if}}

</ul>
