<h1>Developers</h1>
<div class="insert_developer">
  <form action="" method="post">
    <input type="text" name="developerName" placeholder="Name" size="40">
    <input type="text" name="imagePath" placeholder="imagePath" size="40">
    <input type="text" name="position" placeholder="Position" size="40">
    <input type="text" name="info" placeholder="Info" size="40">
    <input type="submit" value="Save">
  </form>
</div>

{{#if developers}}
  <div class="developers-list">

    <ol>
      {{#each developers as |developer|}}
        <li>
        <ul>
          {{#each developer as |value key|}}
            <li>
            {{key}} | {{value}}
            </li>
          {{/each}}
        </ul>
        </li>
      {{/each}}
    </ol>


  </div>
{{/if}}
