<h1>Developers</h1>
<div class="insert_developer">
  <form action="" method="post" class="form-horisontal">

    <dev class="form-group">
      <label for="name">Name</label>
      <input type="text" name="developerName" placeholder="Name" size="40" class="form-control" id="name">
    </dev>
    <dev class="form-group">
      <label for="imagepath">imagePath</label>
      <input type="text" name="imagePath" placeholder="imagePath" size="40" class="form-control" id="imagepath">
    </dev>
    <dev class="form-group">
      <label for="position">Position</label>
      <input type="text" name="position" placeholder="Position" size="40" class="form-control" id="position">
    </dev>
    <dev class="form-group">
      <label for="info">Info</label>
      <input type="text" name="info" placeholder="Info" size="40" class="form-control" id="info">
    </dev>
    <dev class="form-group">
      <input type="submit" value="Save" class="btn btn-default">
    </dev>
  </form>
</div>

{{#if developers}}
  <div class="developers-list">

    <ol>
      {{#each developers as |developer|}}
        <li>
        <ul>
          {{#each developer as |value key|}}
            <li>
            {{key}} | {{value}}
            </li>
          {{/each}}
        </ul>
        </li>
      {{/each}}
    </ol>


  </div>
{{/if}}
